/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "constants";

/* High level containers */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  background-color: $light;
}

#page_container {
  max-width: 70rem;
  margin: 0 auto;
  background-color: $dark;
}

#header {
  padding-right: 0px;
}

#logo {
  width: 300px;
  position: relative;
  left: 37%;
  margin-top: 2%;
}

#logo img {
  border: none;
}

#navBar {
  position: relative;
  left: 43%;
  width: 30%;
  margin-top: 1%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;

}

#page_heading {
  padding: 1rem 2rem;
  text-align: left; 
}

#content {  
  padding-top: 1%;
  margin-top: 1%;
  height: 100px;
  position: relative;
  background-color: $light;
}

#contentLeft {
  background-color: $dark;  
  min-height: 100px;
  float: left;
  box-shadow:
    inset 0 0 2rem -.08rem rgba(0,0,0,.1);
  p {
    font-size: .8rem;
    color: $light;
  }
}

#contentRight {
 background-color: $dark;  
/*  width:500px;*/
/*  min-height: 100px;*/
  float: right;
  box-shadow:
    inset 0 0 2rem -.08rem rgba(0,0,0,.1);
  p {
    font-size: .8rem;
    color: $light;
  }
}

#contentLeft, #contentRight {
  width: 49.5%;
}

#singleContent {
  background-color: $dark;  
  min-height: 100px;
  width:100%;
  float: left;
  box-shadow:
    inset 0 0 2rem -.08rem rgba(0,0,0,.1);
  p {
    font-size: .8rem;
    color: $light;
  }
}

#content, #header {
  width: 1120px;
}

#footer {
  position: absolute;
  margin-top: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  color: gray;
  /*  border-bottom: solid 1px #aaaaaa;*/ }

/* Headings */
h1, h2 {
  font-family: Lato, sans-serif;
}
h1#page_heading {
  font-size: 2rem;
  background-color: $accent;
  box-shadow:
    inset 0 0 0 1px $accent-shadow,
    inset 0 0 0 2px $accent,
    inset 0 0 2rem 0 $accent-shadow;
  text-shadow:
    1px 1px 0 $accent,
    2px 2px 0 $accent-shadow,
    3px 3px 0 $accent-shadow;
  &, a {
    color: $light;
  }
}

h2 {
  font-size: 1.3rem;
  a {
    color: $dark; } }

/* Text */

p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px; }

strong {
  color: $dark; }

/* Links */

.openid {
  background-image: image-url("openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px; }

a {
  color: #000051;
  text-decoration: none; }

small a, label a, a:hover {
  text-decoration: underline; }

#footer a {
  color: gray;
  text-decoration: underline; }

img {
  border: solid 1px black; }

/* Two columns */

#navigation {
  width: 37.4%;
  min-width: 18rem;
  border: none;
  &, a { color: $light; }
  h2 {
    display: inline; }
  label {
    margin-left: 0;
    font-style: normal; }
  ul {
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
    li {
      padding-left: 0px;
      margin-left: 0px; } }
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: verdana,arial,helvetica,sans-serif; }
  input {
    border: solid 1px black;
    width: 100%;
    margin-left: 10px; }
  form {
    margin-bottom: 1em; } }


div.meta {
  margin-top: 1em;
  margin-bottom: 3em; }

/* Formatting */

.meta ul {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #cccccc;
  font-size: 9pt; }

.archive-month .tags {
  color: #bbbbbb; }

.meta a, .archive-month a {
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb; }

.meta {
  a:hover {
    text-decoration: none; }
  ul li {
    display: inline;
    &:after {
      content: " | "; }
    &:last-child:after {
      content: ""; } } }

h2 {
  margin-bottom: 0px; }

.separator {
  height: 1px;
  margin-top: 5px;
  clear: both; }

/* Forms */

label {
  margin-left: 1em; }

textarea, select {
  font: normal 12px verdana, arial, helvetica, sans-serif; }

textarea {
  width: 500px; }

#project_summary, #new_comment textarea, #edit_comment textarea {
  height: 150px; }

.alt, .container_alt {
  background-color: #fafafa; }

div {
  &.date {
    color: #999;
    font-size: .8em; }
  &.comments div {
    &.body {
      padding: 5px; }
    &.meta {
      min-height: 0px;
      padding: 0px; }
    &.separator {
      height: 10px; } }
  &.errors {
    border: solid 1px red;
    background-color: #ffcccc;
    padding: 5px;
    padding-left: 10px;
    width: 485px;
    h3 {
      font-size: 1.0em; } } }

.fieldWithErrors {
  display: inline; }

span.error {
  font-weight: bold; }

hr {
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px; }

#preview {
  height: 200px;
  overflow: auto; }

.related {
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px; }

/* Syntax */

/* TOC */

fieldset.toc {
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px; }

.toc {
  legend {
    font-weight: bold; }
  ol {
    margin: 0px;
    padding-left: 0px;
    list-style-position: inside;
    ol {
      list-style-type: lower-alpha;
      padding-left: 15px; }
    }
  }

pre.ruby {
  .keyword {
    color: #c41f1f; }
  .constant {
    color: #961818; }
  .comment {
    color: #f37e00; }
  .string {
    color: #b77c0a; }
}

@import "coderay";